body{
    background-color: #a6c288;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

header{
    background-color: #0b8770;
    margin: 40px;
}

.nav{
    color: black;
}


header nav ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    margin-left: 70vh;
    
}
header nav ul li a{
    padding: 4px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
}

header nav ul li a:hover{
    color: bisque;
    

}

li{
    list-style: none;
}
.intro{
    margin-left: 50vh;
    color: black;
}

.programa{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#msg{
    width: 200px;
    height: 20px;
}

#chave{
    width: 115px;
}

#prog{
    width: 100px;
    height: 70px;
    background:linear-gradient(to right,#0b8770, black );
    color:white;
    font-size: 17px;
}

#prog:hover{
    width: 100px;
    height: 70px;
    font-size: 17px;
    background:linear-gradient(to right,lime, black );
    color: white;

    
}
#prog:active{
    width: 100px;
    height: 70px;
    font-size: 17px;
    background:white;
    color: black;
}

.footer{
    width: 100vh;
    height: 40px;
}